.project {
   max-width: 350px !important;
   margin: auto !important;
   margin-top: 30px !important;
}
.projects__links {
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin-top: 10px;
   box-shadow: 0;
}
.projects__link a {
   text-decoration: none !important;
}
